/*
Theme Name: theme1
Theme URI: //www.quackit.com/html/templates/download/bryantsmith/SimpleFactorial/
Author:Dima Guzak
Author URI: //www.quackit.com/
Description: 
License: GNU General Public License v2 or later
License URI: //www.gnu.org/licenses/gpl-2.0.html
*/

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic);
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,
img {
    border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-weight: normal;
    font-style: normal;
}
ol,
ul {
    list-style: none;
}
caption,
th {
    text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}
q:before,
q:after {
    content: '';
}
abbr,
acronym {
    border: 0;
}
.clr:after {
    content: '';
    display: block;
    clear: both;
}
.kgrid {
    width: 100%;
}
.kgrid:after {
    content: '';
    display: block;
    clear: both;
}
.kcol6 {
    width: 50%;
    float: left;
    padding-right: 9px;
}
.h60 {
    height: 60px;
}
.h30 {
    height: 30px;
}
.wrap-f {
    /*min-width: 1320px;*/
    
    width: 100%;
}
.wrap-s {
    /*min-width: 1208px;*/
    
    margin-left: 40px;
    margin-right: 40px;
}
i.kicon {
    background-repeat: no-repeat;
    background-position: 50px 50px;
    background-image: url('img/kicons.png');
    width: 19px;
    height: 19px;
    vertical-align: middle;
    display: inline-block;
}
i.kicon.kicon-big {
    width: 25px;
    height: 25px;
}
i.kicon.kicon-big2 {
    width: 50px;
    height: 50px;
}
i.kicon.soc-fb {
    background-position: 0 0;
}
i.kicon.soc-tw {
    background-position: -50px 0;
}
i.kicon.soc-gp {
    background-position: -100px 0;
}
i.kicon.soc-in {
    background-position: -150px 0;
}
i.kicon.soc-vm {
    background-position: -200px 0;
}
i.kicon.soc-fb-b {
    background-position: 0 -300px;
}
i.kicon.soc-tw-b {
    background-position: -50px -300px;
}
i.kicon.soc-gp-b {
    background-position: -100px -300px;
}
i.kicon.soc-in-b {
    background-position: -150px -300px;
}
i.kicon.soc-vm-b {
    background-position: -200px -300px;
}
i.kicon.mail {
    background-position: -250px 0;
}
i.kicon.phone {
    background-position: -250px -50px;
}
i.kicon.kicon-big.search {
    background-position: 0 -100px;
}
i.kicon.kicon-big.menu {
    background-position: -50px -50px;
}
i.kicon.search {
    background-position: -50px -100px;
}
i.kicon.search {
    background-position: -50px -100px;
}
i.kicon.search-white {
    background-position: 0 -50px;
}
i.kicon.kicon-big2.arr-prev {
    background-position: -100px -100px;
}
i.kicon.kicon-big2.arr-next {
    background-position: -150px -100px;
}
i.kicon.arr-prev {
    background-position: -200px -100px;
}
i.kicon.arr-next {
    background-position: -250px -100px;
}
i.kicon.comments {
    background-position: -100px -200px;
}
i.kicon.calendar {
    background-position: -150px -200px;
}
i.kicon.pdf {
    background-position: -150px -250px;
}
i.kicon.picker {
    background-position: -250px -200px;
}
i.kicon.kicon-big.arr-right {
    background-position: 0 -200px;
}
.pseudo-link {
    text-decoration: none;
    color: #42b3e5;
    line-height: 85%;
    border-bottom: 1px dotted #42b3e5;
    display: inline-block;
}
.pseudo-link:hover {
    border-bottom-color: transparent;
}
body * {
    -webkit-font-smoothing: antialiased;
    font-smooth: antialiased;
}
body {
    font-family: 'PT Sans Narrow', sans-serif;
    background: #fff;
    font-size: 16px;
    color: #8e97ac;
}
input {
    font-family: 'PT Sans Narrow', sans-serif;
    color: #8e97ac;
    border-radius: 0;
    box-shadow: none;
}
::-webkit-input-placeholder {
    color: #c2c5cc;
}
:-moz-placeholder {
    color: #c2c5cc;
    opacity: 1;
}
::-moz-placeholder {
    color: #c2c5cc;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #c2c5cc;
}
a {
    color: #42b3e5;
    outline: none;
}
.btn-green {
    color: #fff;
    border: 0;
    padding: 0;
    outline: 0 none;
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;
    text-shadow: 0 1px 0 #019a05;
    background: #8dc63f;
    border-bottom: 3px solid #7bb42d;
    height: 50px;
    font-size: 26px;
    line-height: 53px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    display: block;
}
.btn-blue {
    color: #fff;
    border: 0;
    padding: 0;
    outline: 0 none;
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;
    text-shadow: 0 1px 0 #1378a5;
    background: #42b3e5;
    border-bottom: 3px solid #2f98d7;
    height: 40px;
    font-size: 20px;
    line-height: 41px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    display: block;
}
.btn-blue:hover,
.btn-green:hover {
    opacity: 0.9;
}
.read-more.pseudo-link {
    margin-left: 8px;
    position: relative;
}
.read-more.pseudo-link:before {
    content: '';
    position: absolute;
    left: -8px;
    top: 50%;
    width: 4px;
    height: 8px;
    margin-top: -4px;
    background: url('img/kicons.png') -100px -250px no-repeat;
}
#toper.wrap-f {
    border-top: 3px solid #42b3e5;
    background: #fafdff;
    min-height: 47px;
    font-size: 15px;
}
.social-box {
    float: left;
    line-height: 47px;
    white-space: nowrap;
}
.social-box .social-title {
    float: left;
    display: block;
    position: relative;
    padding-right: 20px;
    margin-right: 20px;
}
.social-box .social-title:after {
    background: #e4e8ed;
    height: 13px;
    width: 1px;
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7px;
}
.social-box .social-line {
    float: left;
    display: block;
    margin-right: 10px;
    opacity: 0.65;
}
.social-box .social-line:hover {
    opacity: 1;
}
.social-box .social-line:last-child {
    margin-right: 0;
}
#toper .info-box {
    float: right;
    line-height: 47px;
}
#toper .info-box .info-line {
    float: left;
    padding-right: 19px;
    margin-right: 19px;
    position: relative;
}
#toper .info-box .info-line:after {
    background: #e4e8ed;
    height: 13px;
    width: 1px;
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7px;
}
#toper .info-box .info-line:last-child {
    padding-right: 0;
    margin-right: 0;
}
#toper .info-box .info-line:last-child:after {
    display: none;
}
#toper .info-box .info-line i.kicon:first-child {
    margin-right: 8px;
}
#toper .info-box .info-line span {
    color: #42b3e5;
}
#header.wrap-f {
    height: 125px;
    background: url('img/header_bg.png') 0 0 repeat-x;
}
#header .logo {
    display: block;
    float: left;
    height: 125px;
    width: 256px;
    background: transparent url('img/logo.png') 0 6px no-repeat;
}
#header .menu-box {
    margin: 0 45px;
    /*float: left;*/
    
    float: right;
}
#header .menu-box > ul {
    display: block;
}
#header .menu-box > ul > li {
    margin: 0 25px;
    float: left;
    height: 125px;
    line-height: 125px;
}
#header .menu-box > ul > li > a {
    display: block;
    height: 122px;
    line-height: 125px;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #000;
    color: #e9ebef;
    border-bottom: 3px solid transparent;
}
#header .menu-box > ul > li.active > a,
#header .menu-box > ul > li:hover > a {
    border-bottom-color: #42b3e5;
    color: #42b3e5;
}
#header .search-box {
    float: right;
    height: 125px;
    position: relative;
}
#header .search-box .search-control {
    line-height: 115px;
    height: 125px;
    display: block;
    float: right;
}
#header .search-box .search-control:hover .kicon.search,
#header .search-box.open .search-control .kicon.search {
    background-position: 0 -150px;
}
#header .search-box .search-control:hover .kicon.menu,
#header .search-box.open .search-control .kicon.menu {
    background-position: -100px -50px;
}
#header .search-form {
    position: absolute;
    z-index: 50;
    padding: 20px;
    display: none;
    width: 270px;
    height: 43px;
    background: #fafdff;
    border-top: 3px solid #42b3e5;
    top: 122px;
    right: 0;
    box-shadow: 0 16px 18px rgba(0, 0, 0, 0.15);
}
#header .search-box.open .search-form {
    display: block;
}
#header .search-form:before {
    content: '';
    position: absolute;
    top: -11px;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: transparent #42b3e5 #42b3e5 transparent;
}
#header .search-form button[type="submit"] {
    background: transparent;
    border: 0 none;
    padding: 11px;
    margin: 0;
    outline: none;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
    cursor: pointer;
}
.search-form input[type="text"] {
    background: #fff;
    width: 2022227px;
    border: 1px solid #f1f1f1;
    padding: 0 41px 0 20px;
    margin: 0;
    outline: none;
    line-height: 41px;
    height: 41px;
    font-size: 15px;
}
#header .mobile-menu {
    margin: 0 20px 0 0;
    display: none;
}
#header .mobile-menu .search-form {
    padding: 0;
    height: auto;
}
#header .mobile-menu .search-form li a {
    display: block;
    text-decoration: none;
    position: relative;
    height: 51px;
    line-height: 53px;
    border: 1px solid #f1f1f1;
    background: #fafdff;
    padding: 0 30px;
    font-size: 20px;
    color: #8e97ac;
    border-bottom: 0 none;
}
#header .mobile-menu .search-form li a:hover {
    color: #42b3e5;
    padding-left: 29px;
    border-left: 2px solid transparent;
}
#header .mobile-menu .search-form li.active a {
    color: #42b3e5;
    padding-left: 29px;
    border-left: 2px solid #42b3e5;
}
#slider.wrap-f {
    position: relative;
    height: 444px;
    overflow: hidden;
}
#slider:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/slider_grad.png') right top repeat-y;
    z-index: 10;
}
#slider:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/slider_grid.png') 0 0 repeat;
    z-index: 20;
}
#slider .wrap-s {
    position: relative;
    z-index: 30;
    height: 444px;
}
#slider .arrow {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: 197px;
    left: 0;
}
#slider .arrow.next {
    left: auto;
    right: 0;
}
#slider .arrow:hover .arr-prev {
    background-position: -100px -150px;
}
#slider .arrow:hover .arr-next {
    background-position: -150px -150px;
}
#slider .slider-image {
    display: block;
    height: 444px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
#slider .dot-box {
    height: 15px;
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
}
#slider .dot-box-wrap {
    display: table;
    margin: 0 auto;
    height: 15px;
}
#slider .dot-line {
    height: 11px;
    width: 11px;
    float: left;
    background: #fff;
    margin: 2px 6px;
    border-radius: 50%;
}
#slider .dot-line.active,
#slider .dot-line:hover {
    background: transparent;
    margin: 0 4px;
    border: 2px solid #fff;
}
#slider .info-box {
    text-shadow: 0 1px 0 #5d5d5d;
    color: #fff;
    width: 45%;
    position: absolute;
    top: 105px;
    right: 82px;
    text-align: right;
}
#slider .info-box h3 {
    font-size: 36px;
}
#slider .info-box h2 {
    font-size: 60px;
    line-height: 80px;
}
#slider .info-box p {
    font-size: 16px;
    line-height: 23px;
}
/*
    #slider .business-box{position: absolute; bottom: 0; height: 48px; left: 0; width: 100%; background: rgba(0, 0, 0, 0.25); line-height: 50px; z-index: 30;}
      #slider .business-box .business-form{width: 32%; float: left;}
        #slider .business-box .wrap-s{height: 48px;}
        #slider .business-form .search-form{display: block; position: relative; margin: 0 18px; padding: 0; border: 0;}
          #slider .business-form .search-form input[type="text"]{box-sizing: border-box; width: 100%; display: block; height:43px; line-height: 43px; margin-top:3px; color: #8e97ac;}
          .business-form .search-form input[type="text"]::-webkit-input-placeholder{color: #8e97ac;}
          .business-form .search-form input[type="text"]:-moz-placeholder{color: #8e97ac; opacity: 1;}
          .business-form .search-form input[type="text"]::-moz-placeholder{color: #8e97ac; opacity: 1;}
          .business-form .search-form input[type="text"]:-ms-input-placeholder{color: #8e97ac;}
          #slider .business-form .search-form .btn-blue{width:43px; position: absolute; z-index: 10; top:0; right: 0; height:43px;}
      #slider .business-box .business-message{width: 66%; float: right; text-align: center; font-size: 22px; color: #fff; text-shadow:0 -1px 0 #464646; white-space: nowrap; overflow: hidden;}*/
/* asdasdasdasdasdasd*/

#slider1 .business-box {
    position: relative;
    bottom: 51px;
    height: 48px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    line-height: 50px;
    z-index: 30;
}
#slider1 .business-box .business-form {
    width: 32%;
    float: left;
}
#slider1 .business-box .wrap-s {
    height: 48px;
}
#slider1 .business-form .search-form {
    display: block;
    position: relative;
    margin: 0 18px;
    padding: 0;
    border: 0;
}
#slider1 .business-form .search-form input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    display: block;
    height: 43px;
    line-height: 43px;
    margin-top: 3px;
    color: #8e97ac;
}
.business-form .search-form input[type="text"]::-webkit-input-placeholder {
    color: #8e97ac;
}
.business-form .search-form input[type="text"]:-moz-placeholder {
    color: #8e97ac;
    opacity: 1;
}
.business-form .search-form input[type="text"]::-moz-placeholder {
    color: #8e97ac;
    opacity: 1;
}
.business-form .search-form input[type="text"]:-ms-input-placeholder {
    color: #8e97ac;
}
#slider1 .business-form .search-form .btn-blue {
    width: 43px;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    height: 43px;
}
#slider1 .business-box .business-message {
    width: 68%;
    float: right;
    text-align: center;
    font-size: 22px;
    color: #fff;
    text-shadow: 0 -1px 0 #464646;
    white-space: nowrap;
    overflow: hidden;
}
#slider1 {
    height: 0
}
#slider1 .arrow {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    top: 197px;
    left: 0;
    z-index: 150
}
#slider1 .arrow.prev {
    position: relative;
    top: -307px
}
#slider1 .arrow.next {
    left: auto;
    right: -96%;
    top: -357px;
}
#slider1 .arrow:hover .arr-prev {
    background-position: -100px -150px;
}
#slider1 .arrow:hover .arr-next {
    background-position: -150px -150px;
}
#mini-slider.wrap-f {
    margin-top: 1px;
    background: #f1faff;
    padding: 10px 0;
}
#mini-slider .wrap-s {
    height: 265px;
    position: relative;
}
#mini-slider .mini-slides-box {
    height: 265px;
    overflow: hidden;
    margin: 0 46px;
}
#mini-slider .mini-slides-wrap {
    height: 265px;
    width: 9999px;
}
.mini-slides-line {
    height: 265px;
    float: left;
    margin-right: 34px;
    width: 188px;
    font-size: 15px;
    line-height: 22px;
    position: relative;
}
.mini-slides-line img {
    display: block;
    height: 186px;
    width: 186px;
    border: 1px solid #d1d3d2;
}
.hoverlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    border: 4px solid #42b3e5;
    width: 180px;
    height: 180px;
}
.mini-slides-line:hover .hoverlay {
    display: block;
}
.hoverlay span {
    display: block;
    margin: 70px auto 0;
    width: 125px;
    text-align: center;
    color: #fff;
    line-height: 38px;
    height: 36px;
    font-size: 16px;
    border-bottom: 2px solid #2f98d7;
    background: #42b3e5;
    background: rgba(66, 179, 229, 0.85);
    border-bottom-color: rgba(47, 152, 215, 0.85);
    text-shadow: 0 1px 0 #0181ba;
}
.mini-slides-line .persone {
    line-height: 35px;
}
.mini-slides-line .persone .pseudo-link {
    line-height: 100%;
}
.mini-slides-line .musthave-line {
    display: table;
    width: 100%;
}
.mini-slides-line .musthave-line span {
    color: #61a63f;
    float: right;
}
.mini-slides-line .musthave-line span.red {
    color: #e10101;
}
#mini-slider .arrow {
    width: 31px;
    height: 186px;
    border: 1px solid #f1f1f1;
    background: #fafdff;
    display: block;
    position: absolute;
    top: 0;
    line-height: 186px;
    text-align: center;
}
#mini-slider .arrow.next {
    right: 0;
    left: auto;
}
#mini-slider .arrow:hover {
    background: #42b3e5;
    border-color: #42b3e5;
}
#mini-slider .arrow:hover .arr-prev {
    background-position: -200px -150px;
}
#mini-slider .arrow:hover .arr-next {
    background-position: -250px -150px;
}
#titler.wrap-f {
    height: 113px;
    position: relative;
    background: #42b3e5;
    background: -webkit-linear-gradient(left, #42b3e5 0%, #605ca8 100%);
    background: -moz-linear-gradient(left, #42b3e5 0%, #605ca8 100%);
    background: -o-linear-gradient(left, #42b3e5 0%, #605ca8 100%);
    background: -ms-linear-gradient(left, #42b3e5 0%, #605ca8 100%);
    background: linear-gradient(left, #42b3e5 0%, #605ca8 100%);
}
#titler:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/slider_noise.png') 0 0 repeat;
    z-index: 20;
}
#titler .wrap-s {
    position: relative;
    z-index: 30;
    height: 113px;
    line-height: 113px;
}
#titler .wrap-s h2 {
    color: #fff;
    font-size: 42px;
    line-height: 113px;
    float: left;
}
#titler .wrap-s .breadcrumbs-box {
    float: right;
}
#titler .wrap-s .breadcrumbs-line {
    color: #fff;
    font-size: 20px;
    line-height: 113px;
    text-decoration: none;
    display: block;
    float: left;
}
#titler .wrap-s .breadcrumbs-line:after {
    content: '/';
    font-size: 20px;
    color: #fff;
    line-height: 113px;
    padding: 0 17px;
}
#titler .wrap-s .breadcrumbs-line:hover span {
    text-decoration: underline;
}
#titler .wrap-s .breadcrumbs-line:last-child {
    opacity: 0.5;
}
#titler .wrap-s .breadcrumbs-line:last-child:after {
    display: none;
}
#main .main-sm-box {
    float: left;
    width: 32%;
}
#main .main-lg-box {
    float: right;
    width: 64%;
}
#main .main-full-box {
    float: none;
    width: 100%;
}
#main h3.title {
    font-size: 42px;
    color: #595f6f;
    line-height: 46px;
    margin: 35px 0 30px;
    padding: 0;
}
#main h4.title {
    font-size: 32px;
    color: #595f6f;
    line-height: 35px;
    margin: 0 0 14px;
    padding: 0;
}
.rubricator-box {
    padding-bottom: 60px;
}
.rubricator-box .rubricator-line {
    display: block;
    text-decoration: none;
    position: relative;
    height: 51px;
    line-height: 53px;
    border: 1px solid #f1f1f1;
    background: #fafdff;
    padding: 0 30px;
    font-size: 20px;
    color: #8e97ac;
    border-bottom: 0 none;
}
.rubricator-box .rubricator-line:last-child {
    border-bottom: 1px solid #f1f1f1;
}
.rubricator-box .rubricator-line .kicon.arr-right {
    float: right;
    margin: 13px 0;
}
.rubricator-box .rubricator-line:hover {
    color: #42b3e5;
    padding-left: 29px;
    border-left: 2px solid #42b3e5;
}
.rubricator-box .rubricator-line:hover .kicon.arr-right {
    background-position: 0 -250px;
}
.rubricator-box .rubricator-line.open {
    color: #fff;
    background: #42b3e5;
    border-color: #42b3e5;
    text-shadow: 0 1px 0 #1378a5;
}
.rubricator-box .rubricator-line.open .kicon.arr-right {
    background-position: -50px -200px;
}
.rubricator-box .rubricator-line.open.active .kicon.arr-right {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
.sub-rubricator-box {
    display: none;
    color: #fff;
    background: #42b3e5;
    text-shadow: 0 1px 0 #1378a5;
    padding: 0 31px;
}
.sub-rubricator-box .sub-rubricator-line {
    color: #fff;
    position: relative;
    text-shadow: 0 1px 0 #1378a5;
    font-size: 16px;
    line-height: 37px;
    height: 37px;
    border-top: 1px solid #68c2ea;
    display: block;
    text-decoration: none;
}
.sub-rubricator-box .sub-rubricator-line.active,
.sub-rubricator-box .sub-rubricator-line:hover {
    color: #faff7c;
}
.sub-rubricator-box .sub-rubricator-line.active:after,
.sub-rubricator-box .sub-rubricator-line:hover:after {
    width: 19px;
    content: '';
    height: 19px;
    position: absolute;
    top: 9px;
    right: 3px;
    background: #42b3e5 url('img/kicons.png') -50px -250px no-repeat;
    display: block;
}
.knews-box {} .knews-line {
    width: 45%;
    float: left;
    margin-bottom: 25px;
}
.knews-line:nth-child(even) {
    float: right;
}
.knews-line img {
    display: block;
    width: 100%;
    border: 1px solid #d1d3d2;
    box-sizing: border-box;
}

.knews-line .hlink {
    display: block;
    position: relative;
}
.knews-line .hlink h3 {
    position: absolute;
    margin: 0;
    padding: 0 9px;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    font-size: 17px;
    line-height: 36px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
}
.knews-line .hlink:hover h3 {
    background: rgba(66, 179, 229, 0.85);
}
.knews-box .knews-line p {
    font-size: 15px;
    color: #6b7281;
    line-height: 17px;
    padding: 9px 0 3px;
    padding-bottom: 3px;
}
.servises-box {} .servises-box .knews-line {
    width: 32%;
    margin-right: 2%;
    float: left!important;
}
.servises-box .knews-line:nth-child(3n+3) {
    margin-right: 0;
}
.servises-box .knews-line p {
    min-height: 63px;
}
.resurses {} .resurses .read-more {
    margin-bottom: 11px;
    font-size: 15px;
}
.last-news-box {} .last-news-box .last-news-line {
    padding-bottom: 20px;
    margin-bottom: 19px;
    border-bottom: 1px solid #f1f1f1;
}
.last-news-box .last-news-line img {
    display: block;
    float: left;
    margin-right: 30px;
    border: 1px solid #d0d2d9;
    width: 368px;
    max-width: 100%;
}
.last-news-box .last-news-line h4,
.last-news-box .last-news-line h4 a {
    text-decoration: none;
    color: #595f6f;
    font-size: 24px;
    line-height: 24px;
}
.last-news-box .last-news-line h4:hover,
.last-news-box .last-news-line h4:hover a {
    text-decoration: none;
    color: #42b3e5;
}
.last-news-box .last-news-line h4 {
    margin: 17px 0 9px;
}
.last-news-box .last-news-line p {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 22px;
}
.last-news-box .last-news-line .date {
    display: inline-block;
    text-align: center;
    width: 91px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 0 #1378a5;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15);
    background: #42b3e5;
    background: -webkit-linear-gradient(45deg, #42b3e5 0%, #9a6dca 100%);
    background: -moz-linear-gradient(45deg, #42b3e5 0%, #9a6dca 100%);
    background: -o-linear-gradient(45deg, #42b3e5 0%, #9a6dca 100%);
    background: -ms-linear-gradient(45deg, #42b3e5 0%, #9a6dca 100%);
    background: linear-gradient(45deg, #42b3e5 0%, #9a6dca 100%);
}
 .date {
    display: inline-block;
    text-align: center;
    width: 91px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 0 #1378a5;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15);
    background: #42b3e5;
    background: -webkit-linear-gradient(45deg, #42b3e5 0%, #9a6dca 100%);
    background: -moz-linear-gradient(45deg, #42b3e5 0%, #9a6dca 100%);
    background: -o-linear-gradient(45deg, #42b3e5 0%, #9a6dca 100%);
    background: -ms-linear-gradient(45deg, #42b3e5 0%, #9a6dca 100%);
    background: linear-gradient(45deg, #42b3e5 0%, #9a6dca 100%);
}
.page-box {
    padding-bottom: 30px;
}
.form-box {} .form-box .kcol6 {
    box-sizing: border-box;
}
.form-box .kcol6:nth-child(even) {
    padding-left: 9px;
}
.form-box .kcol6:nth-child(odd) {
    padding-right: 9px;
}
.form-box input {
    font-size: 16px;
    height: 41px;
    line-height: 41px;
    width: 100%;
    box-sizing: border-box;
    /*width:333px; */
    /*float: left;*/

    color: #8e97ac;
    padding: 0 20px;
    margin: 0 0 7px 0;
    border-radius: 0;
    border: 1px solid #d3d4d8;
    box-shadow: none;
}
/*.form-box input:nth-child(even){float: right;}*/

.form-box textarea {
    box-sizing: border-box;
    width: 98%;
    resize: none;
    border-radius: 0;
    border: 1px solid #d3d4d8;
    box-shadow: none;
    padding: 9px 20px;
    height: 106px;
    font-size: 16px;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-left: 9px;
  
}
.form-box input::-webkit-input-placeholder,
.form-box textarea::-webkit-input-placeholder {
    color: #8e97ac;
}
.form-box input:-moz-placeholder,
.form-box textarea:-moz-placeholder {
    color: #8e97ac;
    opacity: 1;
}
.form-box input::-moz-placeholder,
.form-box textarea::-moz-placeholder {
    color: #8e97ac;
    opacity: 1;
}
.form-box input:-ms-input-placeholder,
.form-box textarea:-ms-input-placeholder {
    color: #8e97ac;
}
.form-box input:focus,
.form-box textarea:focus {
    border-color: #42b3e5;
    outline: none;
    color: #42b3e5;
    box-shadow: 0 0 21px rgba(49, 86, 136, 0.18);
}
.form-box input:focus::-webkit-input-placeholder,
.form-box textarea:focus::-webkit-input-placeholder {
    color: #42b3e5;
}
.form-box input:focus:-moz-placeholder,
.form-box textarea:focus:-moz-placeholder {
    color: #42b3e5;
    opacity: 1;
}
.form-box input:focus::-moz-placeholder,
.form-box textarea:focus::-moz-placeholder {
    color: #42b3e5;
    opacity: 1;
}
.form-box input:focus:-ms-input-placeholder,
.form-box textarea:focus:-ms-input-placeholder {
    color: #42b3e5;
}
.form-box .submiter {
    width: 175px;
    float: right;
    margin-top: 13px;
}
.text-box {
    font-size: 16px;
    line-height: 20px;
}
.text-box p {
    padding-bottom: 30px;
}
.text-box h5 {
    color: #42b3e5;
    font-size: 22px;
    margin-bottom: 10px;
}
.text-box h4 {
    color: #595f6f;
    font-size: 24px;
    margin-bottom: 17px;
}
.text-box .social-line {
    margin-right: 5px;
}
.text-box strong {
    color: #595f6f;
    font-weight: normal;
}
.text-box hr {
    height: 0;
    border: 0 none;
    border-top: 1px solid #ebedf2;
    padding: 0;
    margin: 30px 0;
}
.text-box .full-image {
    display: block;
    width: 100%;
    border: 1px solid #d0d2d9;
    box-sizing: border-box;
    margin: 20px 0;
}
.text-box .social-line {
    opacity: 1;
}
.social-box .social-line:hover i.kicon.soc-fb-b {
    background-position: 0 -350px;
}
.social-box .social-line:hover i.kicon.soc-tw-b {
    background-position: -50px -350px;
}
.social-box .social-line:hover i.kicon.soc-gp-b {
    background-position: -100px -350px;
}
.social-box .social-line:hover i.kicon.soc-in-b {
    background-position: -150px -350px;
}
.social-box .social-line:hover i.kicon.soc-vm-b {
    background-position: -200px -350px;
}
.pagination {
    float: right;
    height: 38px;
    text-align: center;
    padding-top: 30px;
    width: 294px
}
.pagination a {
    float: left;
    height: 36px;
    line-height: 36px;
    width: 32px;
    border: 1px solid #f1f1f1;
    text-align: center;
    display: block;
    background: #fafdff;
    text-decoration: none;
    margin-right: 10px;
    color: #8e97ac;
}
.pagination a:hover,
.pagination a.active {
    background: #42b3e5;
    height: 35px;
    border: 0 none;
    border-bottom: 3px solid #2f98d7;
    color: #fff;
    width: 34px;
    text-shadow: 0 1px 0 #0181ba;
}
.pagination span {
    float: left;
    height: 36px;
    line-height: 36px;
    width: 10px;
    text-align: center;
    display: block;
    text-decoration: none;
    margin-right: 10px;
    color: #8e97ac;
}
.pagination .prev {
    margin-left: 20px;
}
.pagination .next {
    margin-right: 0;
}
.pagination a:hover .kicon.arr-prev {
    background-position: -200px -150px;
}
.pagination a:hover .kicon.arr-next {
    background-position: -250px -150px;
}
.picker-box {
    padding-bottom: 20px;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 19px;
}
.picker-box .picker-line {
    width: 205px;
    float: left;
    margin-right: 22px;
    position: relative;
}
.picker-box .picker-line h5 {
    font-size: 24px;
    color: #595f6f;
    padding-bottom: 10px;
}
.picker-box .picker-line input[type="text"] {
    border: 1px solid #d3d4d8;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 41px;
    line-height: 41px;
    padding: 0 35px 0 20px;
    font-size: 16px;
}
.picker-box .picker-line .kicon.picker {
    /*float: right; margin: -31px 14px 0 0;*/
    
    position: absolute;
    right: 14px;
    top: 52px;
}
.picker-box .picker-line .submiter {
    width: 175px;
    float: left;
}
.picker-box .picker-line .picker-modal {
    position: absolute;
    width: 203px;
    height: 122px;
    display: none;
    border: 1px solid #42b3e5;
    border-top: 0 none;
    background: #fff;
    overflow: hidden;
    left: 0;
    top: 83px;
}
.picker-box .picker-line .picker-modal .picker-modal-wrap {
    width: 204px;
    height: 123px;
}
.picker-box .picker-line .picker-modal a {
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #8e97ac;
    text-align: center;
    display: block;
    float: left;
    border-bottom: 1px solid #f8f8f8;
    border-right: 1px solid #f8f8f8;
}
.picker-box .picker-line .picker-modal a span {
    display: block;
    width: 48px;
    height: 38px;
    margin: 1px;
}
.picker-box .picker-line .picker-modal a:hover span {
    background: #42b3e5;
    color: #fff;
}
.picker-box .picker-line.open .picker-modal {
    display: block;
}
.picker-box .picker-line.open input[type="text"] {
    border-color: #42b3e5;
    color: #42b3e5;
}
.picker-box .picker-line.open input[type="text"]::-webkit-input-placeholder {
    color: #42b3e5;
}
.picker-box .picker-line.open input[type="text"]:-moz-placeholder {
    color: #42b3e5;
    opacity: 1;
}
.picker-box .picker-line.open input[type="text"]::-moz-placeholder {
    color: #42b3e5;
    opacity: 1;
}
.picker-box .picker-line.open input[type="text"]:-ms-input-placeholder {
    color: #42b3e5;
}
.picker-box .picker-line.open .kicon.picker {
    background-position: -250px -250px;
}
.picker-box .picker-line.open:after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 42px;
    left: 0;
    right: 0;
    height: 160px;
    box-shadow: 0 0 21px rgba(49, 86, 136, 0.18);
}
.picker-box .picker-modal.picker-year a {
    width: 101px;
}
.picker-box .picker-modal.picker-year a span {
    width: 99px;
}
.picker-box .picker-modal a.disable {
    color: #d5d8e1;
    cursor: default;
}
.picker-box .picker-modal a.disable:hover span {
    background: #fff;
    color: #d5d8e1;
}
#footer.wrap-f {
    border-top: 3px solid #42b3e5;
    background: #353535;
    line-height: 20px;
}
#footer .wrap-s {
    min-height: 364px;
}
#footer .footer-line {
    /*width: 270px;*/
    
    width: 25%;
    float: left;
    /*margin-right: 30px;*/
    
    padding-right: 30px;
    box-sizing: border-box;
}
#footer .footer-line:last-child {
    padding-right: 0;
}
#footer .logo {
    width: 256px;
    height: 109px;
    display: block;
    margin-top: 35px;
    background: url('img/logo_footer.png') 0 0 no-repeat;
    max-width: 100%;
    background-size: 100% auto;
}
#footer .about {
    font-size: 15px;
    color: #818181;
    line-height: 17px;
    margin-top: 10px;
}
#footer h3.title {
    font-size: 30px;
    color: #acacac;
    margin-top: 60px;
    margin-bottom: 46px;
}
#footer hr {
    border: 0 none;
    outline: none;
    border-top: 1px solid #464646;
    height: 0;
    padding: 0;
    margin: 10px 0;
}
#footer .new-box {} #footer .new-box li {
    color: #818181;
    font-size: 14px;
}
#footer .new-box a {
    text-decoration: none;
    color: #acacac;
}
#footer .new-box a:hover {
    text-decoration: none;
    color: #42b3e5;
}
#footer .twitter-box {
    font-size: 16px;
    color: #acacac;
}
#footer .twitter-box a {
    text-decoration: none;
    color: #42b3e5;
}
#footer .twitter-box .time {
    font-size: 14px;
    color: #828282;
}
#footer .twitter-box .date {
    float: right;
    display: block;
    font-size: 11px;
    background: #353535;
    color: #636363;
    padding-left: 5px;
    margin-top: -20px;
}
#footer .photo-box {
    padding-top: 4px;
    margin-right: -6px;
}
#footer .photo-line {
    width: 61px;
    height: 61px;
    border: 1px solid #777;
    background: #579bb9;
    float: left;
    margin: 0 6px 6px 0;
    position: relative;
}
#footer .photo-line img {
    display: block;
    width: 61px;
    height: 61px;
    cursor: pointer;
}
#footer .photo-line:hover {
    border-color: #579bb9;
}
#footer .photo-line:hover img {
    opacity: 0.3;
}
#footer .photo-line:hover:before {
    width: 19px;
    height: 19px;
    content: '';
    position: absolute;
    background: url('img/kicons.png') -50px -150px no-repeat;
    top: 21px;
    left: 21px;
}
#footer .subscribe-box {
    position: relative;
}
#footer .subscribe-box h3.title {
    margin: 27px 0 12px;
    font-size: 24px;
}
#footer .subscribe-box .btn-blue {
    width: 43px;
    height: 40px;
    margin-left: -1px;
    float: right;
    position: relative;
    z-index: 5;
}
#footer .subscribe-box input {
    display: block;
    background: #353535;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.29);
    margin-right: 0px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    right: 42px;
    left: 0;
    height: 39px;
    border-color: #464646;
}
.footer-clr {
    display: none;
}
.hoverlay-link {
    display: block;
    position: relative;
}
.hoverlay-link:hover .hoverlay {
    display: block;
}
.hoverlay-link .hoverlay {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    text-decoration: none;
    border: 4px solid #42b3e5;
    right: 0;
    bottom: 0;
}
.hoverlay-link .hoverlay span {
    margin-top: 22%;
}
.kgrid4 {
    width: 32%;
    float: left;
    margin-right: 2%;
}
.kgrid4:last-child {
    margin-right: 0;
}
.kgrid8 {
    width: 64%;
    float: left;
    margin-right: 2%;
}
.grid-info-box {
    padding-top: 20px;
}
.grid-info-box .grid-info-line {
    background: #f1faff;
    border: 1px solid #e5eef3;
    padding: 16px 19px;
    position: relative;
}
.grid-info-box .grid-info-line p {
    font-size: 15px;
    color: #6b7281;
    line-height: 17px;
    padding-top: 9px;
}
.grid-info-box .grid-info-line img {
    border: 1px solid #d1d3d2;
    width: 100%;
    box-sizing: border-box;
    display: block;
}
#bottomer.wrap-f {
    background: #42b3e5;
    color: #fff;
    font-size: 16px;
    line-height: 78px;
    text-shadow: 0 1px 0 #1378a5;
}
#bottomer .pull-left {
    float: left;
}
#bottomer .pull-right {
    float: right;
    padding: 15px 0 0;
    font-size: 15px;
}
#bottomer .pull-right .pseudo-link {
    line-height: 100%;
}
#bottomer .pull-right .social-title:after {
    background-color: #8ed1ef;
}
#bottomer a {
    color: #fff;
    border-color: #fff;
}
#slide .slider-image {
    display: block;
    height: 444px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
#slide .arrow {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: 197px;
    left: 0;
    z-index: 5
}
#slide .arrow.next {
    left: auto;
    right: 0;
}
#slide .arrow:hover .arr-prev {
    background-position: -100px -150px;
}
#slide .arrow:hover .arr-next {
    background-position: -150px -150px;
}
@media (max-width: 767px) {
    .wrap-s {
        margin-left: 10px;
        margin-right: 10px;
    }
    #toper .social-box {
        display: none;
    }
    #toper .info-box {
        float: none;
        width: 100%;
        font-size: 12px
    }
    #toper .info-box .info-line {
        padding-right: 4px;
        margin-right: 4px;
    }
    #toper .info-box .info-line:first-child {
        float: left;
    }
    #toper .info-box .info-line:last-child {
        float: right;
    }
    #toper .info-box .info-line:after {
        display: none;
    }
    .knews-box .knews-line {
        width: 100%;
        float: none;
    }
    .last-news-box .last-news-line img {
        margin-right: 0;
        width: 100%;
    }
    #main .form-box .kcol6 {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        float: none;
    }
    #header .mobile-menu {
        display: block;
    }
    #header .menu-box {
        display: none;
    }
    #header .logo {
        width: 200px;
        background-size: 100% auto;
        background-position: center center;
    }
    #slider .info-box {
        width: auto;
        left: 52px;
        right: 52px;
        text-align: center;
        top: 40px;
        max-height: 320px;
        overflow: hidden;
    }
    #slider .business-box {} #slider .business-box .business-form {
        width: 100%;
        margin: 0;
    }
    #slider .business-box .business-message {
        display: none;
    }
    #main .main-sm-box {
        float: none;
        width: 100%;
    }
    #main .main-lg-box {
        float: none;
        width: 100%;
    }
    .grid-info-box .kgrid4 {
        margin-left: 0;
        width: 100%;
        padding-bottom: 20px;
    }
    #footer .footer-line {
        width: 100%;
        padding-right: 0;
        padding-bottom: 20px;
    }
    #footer h3.title {
        margin: 20px 0;
    }
    #bottomer .pull-left {
        display: none;
    }
    #bottomer .pull-right {
        float: none;
        margin: 0 auto;
        display: table;
        padding: 0;
    }
    #bottomer .social-box .social-line {
        margin-right: 5px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .wrap-s {
        margin-left: 10px;
        margin-right: 10px;
    }
    #header .mobile-menu {
        display: block;
    }
    #header .menu-box {
        display: none;
    }
    .last-news-box .last-news-line img {
        margin-right: 15px;
    }
    .knews-box .knews-line {
        width: 100%;
        float: none;
    }
    #slider .info-box {
        width: auto;
        left: 72px;
        right: 72px;
    }
    .servises-box .knews-line {
        width: 48%;
    }
    .servises-box .knews-line:nth-child(3n+3) {
        margin-right: 2%;
    }
    .servises-box .knews-line:nth-child(even) {
        margin-right: 0;
    }
    .footer-clr {
        display: block;
    }
    #footer .footer-line {
        width: 50%;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 20px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .wrap-s {
        margin-left: 20px;
        margin-right: 20px;
    }
    #header .menu-box > ul > li {
        margin-left: 8px;
        margin-right: 8px;
    }
}
@media (min-width: 1200px) and (max-width: 1325px) {
    #header .menu-box > ul > li {
        margin-left: 18px;
        margin-right: 18px;
    }
}
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 406px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    display: block;
    text-decoration: none;
    position: relative;
    height: 51px;
    line-height: 53px;
    border: 1px solid #f1f1f1;
    background: #fafdff;
    padding: 0 30px;
    font-size: 20px;
    color: #8e97ac;
    border-bottom: 0 none;
    font-family: 'PT Sans Narrow';
}
button.accordion.active {
    color: #fff;
    background: #42b3e5;
    border-color: #42b3e5;
    text-shadow: 0 1px 0 #1378a5;
    font-family: 'PT Sans Narrow';
}
button.accordion:hover {
    color: #42b3e5;
    border-left: 2px solid #42b3e5;
    font-family: 'PT Sans Narrow';
}
button.accordion:hover:after {
    content: url('picture2.png');
    font-weight: bold;
    float: right;
    margin-left: 5px;
    z-index: 50%;
}
button.accordion:after {
    content: url('picture.png');
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
button.accordion.active:after {
    content: url('picture1.png');
}
div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 370px;
    color: #fff;
    background: #42b3e5;
    border-color: #42b3e5;
    text-shadow: 0 1px 0 #1378a5;
    font-family: 'PT Sans Narrow',
}
a.line {
    color: #fff;
    position: relative;
    text-shadow: 0 1px 0 #1378a5;
    font-size: 16px;
    line-height: 37px;
    height: 37px;
    border-top: 1px solid #68c2ea;
    display: block;
    text-decoration: none;
    font-family: 'PT Sans Narrow';
    padding-left: 12px;
}
a.line:hover {
    color: #faff7c;
}
a.line:hover:after {
    width: 19px;
    content: '';
    height: 19px;
    position: absolute;
    top: 9px;
    right: 3px;
    background: #42b3e5 url('kicons.png') -50px -250px no-repeat;
    display: block;
}
.page404{
width: 100%;
height: 404px;
font-size: 100px;
}